.commNavBtn {
  height: auto;
  padding: 0.25em 0.75em;
}

#workNavigation {
  float: none;
}

.stickyMenu {

  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /*filter: contrast(110%);*/
  padding: 8px;
  position: sticky;
  z-index: 10;
  text-align: right;
  margin: 0;

  &[open] {
    border: 1px solid;
  }
}

.stickyMenu::marker {
  display: none;
}

.stickyMenu summary {
  list-style: none;
  font-size: 1.5em;
}

.sticky_top {
  top: 0;
}

.sticky_bottom {
  bottom: 0;
}

@media only screen and (orientation: portrait) {
  .sticky_bottom {
    &[open] {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      bottom: initial;
      z-index: 1001;
      margin: 0;
    }
  }
}
